body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app {
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
}
