body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  margin-top: 40px;
  padding: 20px;
}
h1 {
  color: #878787;
  font-size: 28px;
  font-weight: 100;
  margin: 0;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

li {
  list-style: none;
  text-transform: capitalize;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

strong .temperature {
  font-size: 48px;
  font-weight: normal;
}

small {
  align: center;
  margin-top: 5px;
}

.overview {
  margin-bottom: 20px;
}

.float-left {
  padding-left: 10px;
}

.clearfix-weather-temperature {
  padding-top: 2px;
}

.clearfix-weather-temperature .active {
  color: black;
  cursor: default;
}
.clearfix-weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
